:root {
    --color-black: #1d1716;
    --color-dark: #222831;
    --color-light: #f2f2f2;
    --color-orange: #f96d00;
    --color-red: #dc2f2f;
    --color-yellow: #ffc93c;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: var(--color-dark);
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
}

.carousel {
    min-width: 60%;
    background-color: var(--color-dark);
    border-radius: 1rem;
}

.carousel__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carousel__header {
    text-align: center;
}

.carousel__body {
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-template-columns: 40rem 1fr 4rem 4rem 4rem 4rem;
    grid-row-gap: 3rem;
    grid-template-areas: "img img img img img img" "desc . control1 control2 control3 control4";
}

.carousel__image {
    grid-area: img;
    font-size: 0;
    border-radius: 0.5rem;
    width: 100%;
    padding-top: 58%;
    transition: all 1s linear;
    background: url('../images/img1.jpg') no-repeat center / cover;
}

.btn-control {
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s linear;
}

.btn-control span {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--color-orange);
    border: 2px solid var(--color-black);
    transition: .4s linear;
}

.btn-control:hover > span {
    background: var(--color-red);
}

.btn-control:active > span {
    background: var(--color-yellow);
}

#btn-control-1 {
    grid-area: control1;
}

#btn-control-2 {
    grid-area: control2;
}

#btn-control-3 {
    grid-area: control3;
}

#btn-control-4 {
    grid-area: control4;
}

#btn-control-1:focus ~ .carousel__image {
    background: url('../images/img1.jpg') no-repeat center / cover;
}

#btn-control-2:focus ~ .carousel__image {
    background: url('../images/img2.jpg') no-repeat center / cover;
}

#btn-control-3:focus ~ .carousel__image {
    background: url('../images/img3.jpg') no-repeat center / cover;
}

#btn-control-4:focus ~ .carousel__image {
    background: url('../images/img4.jpg') no-repeat center / cover;
}

.btn-control:focus > span {
    background: var(--color-light);
}

.description {
    grid-area: desc;
    line-height: 40px;
}

.description span {
    display: none;
    transition: all 0.5s linear;
}

#btn-control-1:focus ~ .description > #text-1 {
    display: block;
}

#btn-control-2:focus ~ .description > #text-2 {
    display: block;
}

#btn-control-3:focus ~ .description > #text-3 {
    display: block;
}

#btn-control-4:focus ~ .description > #text-4 {
    display: block;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }

    .carousel {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .carousel {
        max-width: 95%;
    }
}

@media (max-width: 380px) {
    h1 {
        font-size: 1.6rem;
    }
}